body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(#193498, #1597E5);
  }

  
*{
    box-sizing: border-box;
  }

.header-top-wrapper{
    background-color:#193498;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  
.container {
    width: auto;
    height: 300px;
    padding: 0 15px;
    margin: 0 auto;
  }

.header-content-container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-size: cover;
}

.dropdown {
    float: right;
    position: relative;
  }
  
.dropdown li {
    line-height: 65px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
header{
    height: 65px;
    width: 100%;
}

.header-left {
    float: left;
}
  
.header-left a{
    color: white;
}
  
.header-right{
    float:right;
}

.logo{
    width: auto;
    height: 60px;
    margin-top: 5px;
    padding-left: 20px;
  }
.title{

    text-align: center;
    color:white;
    font-size: 20px;
}
.page{
    text-align: center;
}
.page img{
    width: 60vw;
}
@media only screen and (min-width: 1280px){
    .page img{
        width: 60%;
    }
}

footer{
    overflow: none;
    text-align: center;
    padding-top : 5vh;
}

.footer-content-left{
  margin : auto;
  background-color: #193498;
  height: 10vh;
  width: auto;
  line-height: 10vh;
}

.footer-content-left p{
  color: white;
}